; -----------------------------------------------------------------------------
; ecc - emuControlCenter ini file
; -----------------------------------------------------------------------------

; # [NAVIGATION]
; This is the navigation of ecc.
; if you want to hide a media-type, set the value to 0 eg. gbc = 0.
; [0|1] 0=hidden|1=show

[NAVIGATION]
n64		= 1
gba		= 1
gbc		= 1
gb		= 1
nds		= 1
snes	= 1
nes		= 1
gen		= 1
sms		= 1
gg		= 1
ngp		= 1
pce		= 1
lynx	= 1
wswan	= 1
a2600	= 1
a5200	= 1
a7800	= 1
svision = 1

; -----------------------------------------------------------------------------

; # [USER_DAT_CREDITS]
; credits in your exported dat-files!
; this will be the header in all .ecc files, you created by
; selecting the option "export datfile"

[USER_DAT_CREDITS]
author			= "emuControlCenter"
website			= "http://www.camya.com/ecc/"
email			= "ecc@camya.com"
comment			= "visit camya for updates"

; -----------------------------------------------------------------------------

[USER_DATA]

; # base_path
; In the ecc-user-folder, data like screenshots, datfiles aso. are organized.
; you can either use relative paths like "emuControlCenter-user/"
; or absolute paths like "d:/ecc_userfolder/user/"
;base_path		= e:/test-ecc/
;base_path		= ../ecc-user/
base_path		= ../../emuControlCenter-user/

; # base_path_subfolder
; ecc will automaticly create these paths under the user-folder+eccident
; defind in "[USER_DATA] base_path"
; Default: emus,exports,images,roms
base_path_subfolder		= emus,exports,images,roms

; -----------------------------------------------------------------------------

[USER_SWITCHES]

; # dat_import_rc_namestrip
; if dat_import_rc_namestrip is activated, imported data from
; datfiles will automaticly stripped from additional
; informations by eccs datfile-parser! [0|1]
; Default: 1
dat_import_rc_namestrip = 1

; How many item should be visible at one page?
; Default: 50
media_history	= 50

; # fs_rom_reorganization_type
; Option for automatic rom reorganization by categories
; How will the files processed by ecc. Only alter this, if you really know
; what you do!!!!!
; WARNIG!!!! Nur aendern, wenn du weist, was du tust :-)
; COPY|MOVE|PREVIEW
; Default: COPY
fs_rom_reorganization_type = COPY

; # image_convert_to_jpg
; if you want that ecc automaticly convert images to jpeg set this option to 1!
; [0|1] == false | true
; Default: 0
image_convert_to_jpg = 0

; # image_mainview_size
; this configures the size of images in the mainview
; of ecc. you can alter this to see smaller or larger images
; 'integer width'x'integer height'
; Default: "120x80"
image_mainview_size = "120x80"

; -----------------------------------------------------------------------------

[ECC_INFO]

; general informations about your current version of ecc.
; do not alter this selection. This informations are used
; if you update ecc to a newer version.
release_version	= "0.5.86"
release_state	= beta
website			= http://www.camya.de/ecc/
email			= ecc@camya.de
eccdat_version	= "0.9"
eccdat_state	= beta

; -----------------------------------------------------------------------------
