head {font-family:Forte;
    font-size: 6px;
	color: #000000;
	font-weight:normal;
	text-align:left;}
body {font-family:Verdana; font-size:4px; color:#ffffff}
a {color:#ff0000; font-family:Verdana; font-size:11px;}
bluetext {color:#0000ff;}
