head {font-family: Verdana;
    font-size: 6px;
	color: #ffffff;
	font-weight:bold;
	text-align:left;}
body {font-family:Verdana; font-size:4px; color:#ffffff}
a {color:#ff0000; font-family:Verdana; font-size:11px;}
bluetext {color:#0000ff;}