body {
	background: #fff url('../img/ecc_bg_white.gif');
}

div.header a {
	display: block;
	background: #cc0000 url('../img/ecc_header_wide.gif') no-repeat;
	height: 39px;
	border: solid 1px #000;
	margin-bottom: 10px;
}

div.content {
	font-size: 10px;
	font-family: verdana, sans-serif;
}

div.wide {
	width: 768px;
}

div.content .footer {
	font-size: 9px;
	margin: 10px;
	text-align: right;
}


div.content .return {
	border: solid 1px #99aabb;
	padding: 5px 5px 5px 5px;
	background-color: #eee;
}

div.content a, a:link, a.active, a.visited {
	font-weight: bold;
	text-decoration: none;
	color: #000;
}
div.content a:hover {
	color: #444;
	background-color: #eee;
}


div.content h1{
	font-size: 12px;
	background-color: #7692A2;
	color: #000;
	border: solid 1px #000;
	padding: 5px 5px 5px 5px;
}

div.content ul {
	background-color: #fff;
	list-style: none;
	margin: 0;
	padding: 5px;
}

div.content ul a {
	display: block;
	padding: 2px;
}

div.content ul a:hover {
	color: #000;
}

div.content li h1 {
	font-size: 12px;
	background-color: #fff;
	color: #000;
	border: solid 1px #ddd;
	padding: 2px 2px 2px 2px;
	margin-bottom: 0;
}


div.content ul.level1{
	margin: 10px 10px 10px 10px;
}
div.content ul.level1 li{
	font-weight: bold;
	margin: 0 0 0 5px;
	padding: 0 0 0px 0 ;
}

div.content ul.level2 li{
	font-weight: normal;
}

div.content div.contentQa {
	border: solid 1px #ccddee;
	padding: 0 5px 0 5px;
	margin-bottom: 10px;
	background-color: #eee;
}
div.content div.contentQa h2  {
	font-size: 12px;
	border: solid 1px #99aabb;
	background-color: #fff;
	padding: 5px 5px 5px 5px;
	margin: 5px 0 5px 0;
}

div.content div.contentQa .qaBlock  {
	border: solid 1px #99aabb;
	padding: 5px 0 0 0;
	margin-bottom: 5px;
	background-color: #fff;
}
div.content div.contentQa .qaBlock .image  {
	border: solid 1px #99aabb;
	padding: 5px;
	margin: 0 5px 5px 5px;
	background-color: #fff;
}

div.content div.contentQa .q  {
	margin: 0 5px 5px 5px;
	border: solid 1px #ddd;
	padding: 5px;
}

div.content div.contentQa .a  {
	margin: 0 5px 5px 10px;
	border: solid 1px #ddd;
	padding: 5px;
}