<settings>
  <General_Properties>
    <componentWidth value="1920"/>
    <componentHeight value="1100"/>
    <assets value="images.xml"/>
    <preloader value="assets/preloaders/redsquares.swf"/>
    <controlSkin value="assets/skins/controlsSkin1.xml"/>
    <textTransitions value="assets/transitions/fades.xml"/>
    <radius value="100"/>
    <reverseRotation value="false"/>
    <clickAction value="expand"/>
    <showAbout value="true"/>
  </General_Properties>
  <Item_Properties>
    <thumbWidth value="640"/>
    <thumbHeight value="380"/>
    <expandWidth value="876.923076923077"/>
    <expandHeight value="876.923076923077"/>
    <defaultSpeed value="1"/>
  </Item_Properties>
  <Camera_Properties>
    <cameraX value="-230"/>
    <cameraY value="600"/>
    <cameraZ value="-1000"/>
  </Camera_Properties>
  <Border_Properties>
    <useBorder value="false"/>
    <width value="4"/>
    <color value="0x333333"/>
    <alpha value="1"/>
    <cornerRadius value="0"/>
  </Border_Properties>
  <Filter_Properties>
    <useFilter value="true"/>
    <filter value="Glow"/>
    <distance value="4"/>
    <angle value="40"/>
    <alpha value="0.8"/>
    <blurX value="9"/>
    <blurY value="8"/>
    <strength value="3"/>
    <quality value="4"/>
    <color value="0xeeeeee"/>
  </Filter_Properties>
  <Expand_Filter_Properties>
    <distance value="8"/>
    <angle value="45"/>
    <alpha value="0"/>
    <blurX value="4"/>
    <blurY value="4"/>
    <strength value="1"/>
    <quality value="1"/>
    <color value="0xff0000"/>
  </Expand_Filter_Properties>
  <Text_Properties>
    <style value="assets/css/style3.css"/>
    <position value="CC"/>
    <offsetX value="0"/>
    <offsetY value="0"/>
    <textSpacing value="100"/>
    <embedFonts value="false"/>
    <headWidth value="1920"/>
    <headBackColor value="0xffffff"/>
    <headBackAlpha value="0.4"/>
    <headBorderColor value="0x333333"/>
    <headBorderAlpha value="0.3"/>
    <headBorderSize value="2"/>
    <headCornerRadius value="0"/>
    <headTopPadding value="0"/>
    <headBottomPadding value="0"/>
    <headLeftPadding value="0"/>
    <headRightPadding value="0"/>
    <headOfsetX value="0"/>
    <headOffsetY value="0"/>
    <headUseDouble value="true"/>
    <headOffsetDirection value="TR"/>
    <bodyWidth value="1920"/>
    <bodyBackColor value="0xffffff"/>
    <bodyBackAlpha value="0.4"/>
    <bodyBorderColor value="0x333333"/>
    <bodyBorderAlpha value="0.3"/>
    <bodyBorderSize value="2"/>
    <bodyCornerRadius value="0"/>
    <bodyTopPadding value="0"/>
    <bodyBottomPadding value="0"/>
    <bodyLeftPadding value="0"/>
    <bodyRightPadding value="0"/>
    <bodyDelay value="0"/>
    <bodyOffsetX value="0"/>
    <bodyOffsetY value="780"/>
    <bodyUseDouble value="true"/>
    <bodyOffsetDirection value=""/>
  </Text_Properties>
  <Tooltip_Properties>
    <position value="followMouse"/>
    <delay value="0.3"/>
    <distance value="3"/>
    <padding value="0"/>
    <cornerRadius value="2"/>
    <appearance value="top"/>
    <easingFunction value="Back"/>
    <easingDuration value="0.3"/>
    <fontFace value="arial"/>
    <fontSize value="11"/>
    <fontColor value="0x000000"/>
    <backColor value="0xffffff"/>
    <backColor2 value="0xeeeeee"/>
    <backAlpha value="0.9"/>
    <borderColor value="11184810"/>
    <borderThickness value="1"/>
    <useArrow value="false"/>
    <arrowPos value="center"/>
    <arrowSize value="5"/>
    <embedFonts value="true"/>
  </Tooltip_Properties>
  <Background_Properties>
    <fillType value="image"/>
    <backgroundImage value="assets/backgroundImages/nebula_emulator_3d_blue.jpg"/>
    <backgroundFitting value="bestfit"/>
    <backgroundColor1 value=""/>
    <backgroundColor2 value=""/>
    <backgroundAlpha value="0.9"/>
    <bgCornerRadius value="0"/>
    <gradientRotation value="0"/>
    <gradientRatio value="0"/>
    <gradientPosX value="0"/>
    <gradientPosY value="0"/>
    <useShade value="false"/>
    <shadeColor value="0x000000"/>
    <shadeAlpha value="1"/>
    <shadeRatio value="100"/>
    <shadeWidth value="600"/>
    <shadeHeight value="300"/>
  </Background_Properties>
  <Shade_Properties>
    <useShade value="false"/>
    <shadeColor value="0x000000"/>
    <shadeAlpha value="0.4"/>
    <shadeRatio value="161"/>
    <shadeWidth value="-94"/>
    <shadeHeight value="207"/>
  </Shade_Properties>
</settings>