################### TOOLBAR ###########################


style "toolbar"
{
 xthickness            			= 0
  ythickness            			= 2
	engine "pixmap"
	{
		image
		{
			function	= BOX
			file		= "Toolbar/toolbar.png"
			border	= { 4, 4, 4, 4}
			stretch	= TRUE
    		}
 	}
}
widget_class "*BonoboDockItem" style "toolbar"
class "*BonoboDockItem" style "toolbar"

widget_class "*HandleBox" style "toolbar"
class "*HandleBox" style "toolbar"

widget_class "*Toolbar" style "toolbar"
class "*Toolbar" style "toolbar"



##################### TOOLBAR BUTTONS ###############################





style "toolbuttons"
{


 xthickness            			= 0
  ythickness            			= 0

	GtkWidget::focus_padding = 1

	engine "pixmap" {
      
image
		{
			function        			= BOX
			recolorable     		= TRUE
			state				= NORMAL
			file            			= "Toolbar/toolbutton-normal.png"
			border          			= { 5, 5, 5, 5 }
			stretch         			= TRUE
		}
		
image
		{
			function        			= BOX
			recolorable     		= TRUE
			state				= PRELIGHT
			file            			= "Toolbar/toolbutton-prelight.png"
			border          			= { 5, 5, 5, 5 }
			stretch         			= TRUE
		}

image
		{
			function        			= BOX
			recolorable     		= TRUE
			state				= ACTIVE
			file            			= "Toolbar/toolbutton-pressed.png"
			border          			= { 5, 5, 5, 5 }
			stretch         			= TRUE
		}  
image
		{
			function        			= BOX
			recolorable     		= TRUE
			state				= INSENSITIVE
			file            			= "Toolbar/toolbutton-normal.png"
			border          			= { 5, 5, 5, 5 }
			stretch         			= TRUE
		}  

	}

}
#widget_class "*Tool*GtkToggleButton" style "toolbuttons"
#widget_class "*Tool*GtkButton" style "toolbuttons"
widget_class "*Tool*GtkButton" style "toolbuttons"




