head {
font-family:Berthold Akzidenz Grotesk BE Co;
font-size:24px;
color:#151515;
text-align:left;
}

headBack {
font-family:Berthold Akzidenz Grotesk BE Co;
font-size:24px;
color:#ffffff;
text-align:left;
}

body {
font-family:Myriad Pro;	
font-size:14px;
font-weight:bold;
color:#505050; 
text-align:left;
}

bodyBack {
font-family:Myriad Pro;	
font-size:14px;
font-weight:bold;
color:#000000; 
text-align:left;
}

a {
font-family:Myriad Pro;	
font-size:14px;
color:#505050;
text-decoration:underline;
}

